body, ._5vb_ #contentCol
{
  font-family: /* $default-font[*/sans-serif/*]*/;

  color: /* $foreground-color[*/inherit/*]*/;

  background: /* $background[*/radial-gradient(circle at 80% 20%, rgba(180,220,255,1) 0%, rgba(80,160,240,1) 100%) fixed/*]*/ !important;
  background-size: /* $background-size[*/auto/*]*/ !important;
}

/*? foreground-color {*/
._4fzb ._5pco, ._4fzb ._5pco p,
._5vsj._5vsj._5vsj
{
  color: /* $foreground-color[*/inherit/*]*/
}
/*}*/

/*? link-color {*/
a
{
  color: /* $link-color[*/inherit/*]*/
}
/*}*/

/*? !content-original {*/

._4-u2
{
  box-sizing: border-box;
  background: /* $content-background[*/rgba(255, 255, 255, .9)/*]*/ !important;
  background-size: /*content-background-size[*/auto/*]*/ !important;
  box-shadow: /* $content-shadow[*/5px 5px 1px -1px rgba(0,0,0,.5), inset 3px 3px 3px -1px rgba(255, 255, 255, .5)/*]*/ !important;
  border: /* $border[*/1px solid rgba(0,0,0,.2)/*]*/ !important;
}

/*? border {*/

._4fzb
{
  border: /* $border[*/1px solid rgba(0,0,0,.2)/*]*/;
  border-width: 1px;
}

._5va1
{
  border: /* $border[*/1px solid rgba(0,0,0,.2)/*]*/ !important;
  border-width: 1px !important;
}

._4d6h,
._5v3q ._5g-l
{
  border-bottom: /* $border[*/1px solid rgba(0,0,0,.2)/*]*/;
  border-bottom-width: 1px;
}

._ei_,
._a7s,
._2dck,
._5v3q ._5mxv,
._5vsj .UFIRow._4204,
._5vsj .UFIShareRow, ._5vsj .UFILikeSentence, ._5vsj ._48pi,
.uiHeaderSection, .uiSideHeader
{
  border-top: /* $border[*/1px solid rgba(0,0,0,.2)/*]*/;
  border-top-width: 1px;
}

._4fzb
{
  border: none;
}

._3x-2
{
  margin-top: 10px;
}

.mtm
{
  margin-top: 0px;
}

/*}*/

._1g5v+._4arz,
._ipo
{
  background: transparent;
}

._5vsj._5vsj._5vsj
{
  background: /* $content-comments-background[*/rgba(160,200,250,.1)/*]*/;
}

._4-u8,
._5vsj .UFIRow,
._5vsj ._1g5v+._4arz,
._5vsj.UFIContainer .UFIReplyList .UFIRow
{
  background: transparent;
}

/*}*/

/*? !banner-original {*/

._2s1x ._2s1y
{
  background: /* $banner-background[*/rgba(0,120,210,.95)/*]*/ !important;
  background-size: /* $banner-background-size[*/auto/*]*/ !important;

  box-shadow: /* $banner-shadow[*/0 -1px 2px 3px rgba(0,0,0,.8)/*]*/;

  border-bottom: none;
}

/*}*/

/*? !sidebar-original {*/

._5vb_.hasLeftCol #leftCol
{
  padding-top: 24px;
}

#leftCol > div > div
{
  padding: 10px;
  margin-left: -16px;
  background: /* $sidebar-background[*/rgba(255, 255, 255, .8)/*]*/;
  box-shadow: /* $sidebar-shadow[*/none/*]*/;
}

.litestandClassicWelcomeBox.fbxWelcomeBox a, .litestandClassicWelcomeBox.fbxWelcomeBoxSmall a,
._3m75 .sideNavItem.sideNavItem.sideNavItem.sideNavItem ._5afe
{
  color: /* $sidebar-foreground-color[*/#333/*]*/
}

._3m75 .selectedItem ._5afe::after, ._3m75 .sideNavItem:hover ._5afe::after
{
  background: rgba(255,255,255,.2);
  border: none;
}

/*}*/
